@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

<form method="post">
    <input type="text" placeholder="Username" name="username" class="form-control"/>
    <input type="text" placeholder="Password" name="password" class="form-control" />
    <input type="submit" value="LogIn" class="btn btn-success" />
</form> 